.animation-bounce {
	animation: bounce 500ms linear;
}

@keyframes bounce {
	0% {
		transform: translate(70%, -30%) scale(1);
	}
	
	50% {
		transform: translate(70%, -30%) scale(1.5);
	}
	
	100% {
		transform: translate(70%, -30%) scale(1);
	}
}

.animation-fadeIn {
	animation: fadeIn 700ms linear;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}